.container-fluid{
    padding:0rem;
    margin-left: 1rem;
}
.heading{
    padding-top: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
}
.card{
    width: 10.5rem;
    margin: auto;
    background-color: #CFE1F8;
    border-radius: 7px;
    margin-bottom: 2.5rem;
    margin-top: 1.8rem;
}
.card-body{
    padding: 0.5rem;
    font-weight: 600;
    color: #2B3A55;
}
.elective-list{
    font-size: 1rem;
    font-weight: 700;
}
.electiveBox{
    width: 75%;
    text-align: left;
    background-color: #CFE1F8;
    border-radius: 7px;
    margin-bottom: 2.5rem;
    margin-top: 1.8rem;
}
.elective{
    padding-left: 1rem;
}